@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Início  */

* {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background: linear-gradient( #202140, #2D2E48);
    align-items: center;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #fff;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}


.navigation {
    background-color: #19234D;
    margin: 0px 0px;
    top: 91%;
    border-radius: 40px 40px 0px 0px;
    padding: 20px 0;
    position: fixed;
    display: flex;
    width: 110%;
    height: 80px;
    left: -10px;
    justify-content: space-around;
}

.navigation>a>img {
    width: 36px;
    transition: 200ms;
}

.navigation>a:hover>img {
    filter: invert(0.6) sepia(1) hue-rotate(350deg) saturate(9);
}



span.account-label {
    font-size: 14px;
    color: #747598;
    font-weight: 700;
}

span.balance {
    font-size: 30px;
    color: #f5f4f1;
    font-weight: 600;
}

div.rounded-border {
    border: 6px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 30px;
    position: relative;
}

.grey-color {
    background-image: linear-gradient(to top right, #181930 50%, #3b3c58), linear-gradient(145deg, transparent 75%, #3b4065);
}